<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean class="spring.CountService" id="countService">
		<property name="folderPath" value="D:/Students/"/>
		<property name="storageType" value="json"/>
		<property name="countersFactory" ref="countersFactory"/>
	</bean>

	<bean id="countersFactory" class="spring.CountersFactory">
		<lookup-method name="getCounter" bean="counter"/>
	</bean>

	<bean id="counter" class="spring.Counter" scope="prototype" lazy-init="true"/>

</beans>